@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(23, 22, 22);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.heading h1{
    margin-top: 100px;
    font-size: 4rem;
    font-family: Great Vibes;
}
.container{
    background-color: white;
    color: black;
    height: 50vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
    border-radius: 40px;
}
input{
    margin: 12px;
    width: 80%;
    padding: 7px;
    text-align: center;
    font-size: 15px;
}
button{
    margin: 12px;
    width: 60%;
    padding: 5px;
    background-color: rgb(135, 192, 192);
    border-radius: 23px;
    font-size: 15px;
}
#getday{
    background-color: rgb(135, 192, 192);
    border-radius: 12px;
    padding:10px 15px;
    font-size: 15px;
    margin: 3px 0px ;
}